<!-- Card view -->
<div class="ib text-center p-5 animate__animated animate__backInRight" *ngFor="let card of cards">
    <scale-card (click)="openModal(card)">
        <ng-container [ngSwitch]="card.os">
            <img alt="Windows" *ngSwitchCase="'windows'" src="assets/images/os/windows.png">
            <img alt="Ubuntu" *ngSwitchCase="'ubuntu'" src="assets/images/os/ubuntu.png">
            <img alt="macOS" *ngSwitchCase="'macos'" src="assets/images/os/macos.png">
            <img alt="Debian" *ngSwitchCase="'debian'" src="assets/images/os/debian.png">
        </ng-container>
        <h4>Servername:</h4>
        <p>{{ card.name }}</p>
        <div class="mt-20">
            <h5>Status</h5>
            <scale-icon-alert-success fill="#00b367" size="24" selected accessibility-title="Online">
            </scale-icon-alert-success>
        </div>
    </scale-card>
</div>
<!-- Modal view -->
<scale-modal heading="{{ 'details.headline' | translate }}" id="modal">
        <div class="row center tv-center">
            <div class="col-9 mb-2 mt-0">
                <h3>System</h3>
                <scale-divider></scale-divider>
            </div>
            <div class="col-4 text-left">
                Name:
            </div>
            <div class="col-6 text-right">
                {{ selectedServer?.name}}
            </div>
            <div class="col-4 text-left">
                {{ "details.system.operating-system" | translate }}
            </div>
            <div class="col-6 text-right">
                Windows Server 2019
            </div>
            <div class="col-4">
                {{ "details.system.memory" | translate }}
            </div>
            <div class="col-6">
                30 GB
            </div>
            <div class="col-4">
                {{ "details.system.processor" | translate }}
            </div>
            <div class="col-6">
                Intel®Xenon® Gold 6240R CPU @ 2x2.40GHz
            </div>
            <div class="col-4">
                {{ "details.system.hard-disk-storage" | translate }}
            </div>
            <div class="col-6">
                500 GB
            </div>
        </div>
    <scale-button slot="action" variant="secondary" (click)="closeModal()">
        {{ "details.cancel" | translate }}
    </scale-button>
</scale-modal>