<div class="container">
  <h1 class="mb-3">
    {{ "info.headline" | translate }}
  </h1>
  <scale-divider></scale-divider>
  <div class="mt-4">
    <h3>{{ "info.sub-title" | translate }}</h3>
  </div>
  <div class="row justify-content-evenly py-5">
    <div class="col-4">
      <h5 class="text-end">Name:</h5>
      <h5 class="text-end">{{ "info.email-address" | translate }}</h5>
      <h5 class="text-end">{{ "info.gender" | translate }}</h5>
      <h5 class="text-end">{{ "info.phoneNumber" | translate }}</h5>
    </div>
    <div class="col-4">
      <h5 class="text-start">{{ user?.[0]?.firstname }} {{ user?.[0]?.lastname }}</h5>
      <h5 class="text-start">{{ user?.[0]?.email }}</h5>
      <h5 class="text-start">{{ user?.[0]?.gender }}</h5>
      <h5 class="text-start">+{{ user?.[0]?.phoneNumber }}</h5>
    </div>
  </div>
  <div style="height: 100px; padding: 48px 0"></div>
</div>
