<div class="wrapper">
    <h1 class="warning_headline my-translated-paragraph">
        <scale-icon-alert-warning size="80" accessibility-title="warning"></scale-icon-alert-warning><br>
        {{  'warning.h1_headline' | translate  }}
    </h1>
    <p class="warning-form_top-line my-translated-paragraph mt-40 mb-30">
        {{ 'warning.h1_top-line' | translate }}
    </p>
    <p class="warning-form_search-line my-translated-paragraph mt-100 mb-30">
        {{ 'warning.h2_search-line' | translate }}
    </p>
</div>
