.subtitle {
  text-align: center;
  color: var(--telekom-color-text-and-icon-standard);
  font-size: var(--telekom-typography-font-size-title-2);
  font-weight: var(--telekom-typography-font-weight-thin);
}

.title {
  font-weight: var(--telekom-typography-font-weight-extra-bold);
}

.tv-info {
  text-align: center;
  color: var(--telekom-color-text-and-icon-standard);
  font-size: var(--telekom-typography-font-size-callout);
}

.login-form {
  display: block;
  margin: 0 auto;
  text-align: left;
  max-width: 60vh;
  height: 80vh;
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  .login-form {
    margin: 0 auto;
    text-align: left;
    max-width: 40vh;
    height: 90vh;
  }
}
