.login_headline {
  text-align: center;
  color: var(--telekom-color-text-and-icon-standard);
  font-size: var(--telekom-typography-font-size-title-2);
  font-weight: var(--telekom-typography-font-weight-thin);
}
.login_headline-ultra {
  font-weight: var(--telekom-typography-font-weight-extra-bold);
}
.login-form {
  margin: 0 auto;
  text-align: left;
  max-width: 600px;
}
.login-form_top-line {
  text-align: center;
  color: var(--telekom-color-text-and-icon-standard);
  font-size: var(--telekom-typography-font-size-callout);
}
.login-label-mail {
  color: var(--telekom-color-text-and-icon-standard);
  font-size: var(--telekom-typography-font-size-callout);
}
.login-label-password {
  color: var(--telekom-color-text-and-icon-standard);
  font-size: var(--telekom-typography-font-size-callout);
}
