.container {
  width: 100%;
}
.navbar {
  width: 25% !important;
  max-width: 25%;
}
.list-cont {
  width: 67%;
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  div.container {
    display: inline-block;
  }
  div.navbar {
    margin: 0 auto;
  }
  div.list-cont {
    margin: 0 auto;
  }
}