.row {
    max-width: 1039px;
    min-width: 640px;
    margin: 0 auto;
}
.art-space {
    margin: -24px;
}
.img-card {
    margin-bottom: -4px;
    width: 100%;
}
.space {
    margin-right:var(--telekom-spacing-unit-x8);
}