@import url('@telekom/design-tokens/dist/telekom/css/telekom-design-tokens.all.css');

html,
body {
  font-family: var(--telekom-typography-font-family-sans);
}

body {
  margin: 0;
  padding: 0;
}
.content {
  width: 100%;
}
.center {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.tv-Center {
  text-align: center;
}
scale-notification-toast::part(base --opened) {
  opacity: 1;
  z-index: 101;
}
.db {
  display: block;
}
.ib {
  display: inline-block;
}
.fr {
  float: right;
}
.mw-200 {
  max-width: 200px
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-100 {
  margin-top: 100px;
}
.pull-right {
  float: right;
}

