@import url('@telekom/design-tokens/dist/telekom/css/telekom-design-tokens.all.css');

html,
body {
  margin: 0;
  font-family: var(--telekom-typography-font-family-sans);
  color: var(--scl-color-text-standard);
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto !important;
  overflow-x: hidden;
}

scale-card {
  display: block;
  background: var(--telekom-color-background-surface);
  transition: all var(--telekom-motion-duration-transition) var(--telekom-motion-easing-standard);
  border-radius: var(--telekom-radius-large);
}

scale-card:hover {
  cursor: pointer;
  box-shadow: var(--telekom-shadow-raised-hover);
}

scale-card:focus {
  box-shadow: 0 0 0 var(--telekom-line-weight-highlight) var(--telekom-color-functional-focus);
}

scale-card:active {
  box-shadow: var(--telekom-shadow-raised-pressed);
}

scale-input {
  display: block;
  margin-bottom: var(--scl-spacing-32);

}

scale-text-field {
  display: block;
  margin-top: 10px;
}

scale-notification-message {
  display: block;
  text-align: center;
  margin-bottom: var(--scl-spacing-32);
}

scale-notification-toast::part(base --opened) {
  opacity: 1;
  z-index: 101;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}
