.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.right {
    width: 30%;
}

.middle {
    width: 70%;
}

.left {
    width: 10%;
}
.chart-l {
    width: 100%;
    max-height: 250px;
}