<div class="container">
    <h1 class="mb-3">
        {{ "dashboard.headline" | translate }}
    </h1>
    <scale-divider></scale-divider>
    <div class="row mt-4 animate__animated animate__backInDown">
        <div class="col-md-3 p-2" *ngFor="let card of cards">
            <scale-card>
                <h3 class="mb-1">{{ card.name }}</h3>
                <h1>{{ card.totalServer }}<span class="lead"> {{ card?.format }}</span>
                </h1>
            </scale-card>
        </div>
    </div>
    <div class="row mt-4 animate__animated animate__backInUp">
        <div class="col-md-8 p-2">
            <scale-card>
                <h3>Server Standorte</h3>
                <ngx-charts-advanced-pie-chart [view?]="view" [scheme?]="colorScheme" [results]="chart"
                    [gradient]="gradient" (select)="onSelect($event)" (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                </ngx-charts-advanced-pie-chart>
            </scale-card>
        </div>
        <div class="col-md-4 p-2">
            <scale-card>
                <h3 class="mb-3">Serverliste</h3>
                <scale-table class="tv-Center" size="default">
                    <table>
                        <thead>
                            <tr>
                                <th>Team</th>
                                <th>Servername</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Administration</td>
                                <td>CATEGORY 1</td>
                                <td>
                                    <scale-icon-alert-success fill="#00b367" size="24" selected
                                        accessibility-title="Online">
                                    </scale-icon-alert-success>
                                </td>
                            </tr>
                            <tr>
                                <td>Administration</td>
                                <td>CATEGORY 2</td>
                                <td>
                                    <scale-icon-alert-success fill="#00b367" size="24" selected
                                        accessibility-title="Online">
                                    </scale-icon-alert-success>
                                </td>
                            </tr>
                            <tr>
                                <td>Administration</td>
                                <td>CATEGORY 3</td>
                                <td>
                                    <scale-icon-alert-success fill="#00b367" size="24" selected
                                        accessibility-title="Online">
                                    </scale-icon-alert-success>
                                </td>
                            </tr>
                            <tr>
                                <td>Administration</td>
                                <td>CATEGORY 4</td>
                                <td>
                                    <scale-icon-alert-success fill="#00b367" size="24" selected
                                        accessibility-title="Online">
                                    </scale-icon-alert-success>
                                </td>
                            </tr>
                            <tr>
                                <td>D3 Ausbildung</td>
                                <td>CATEGORY 1</td>
                                <td>
                                    <scale-icon-alert-success fill="#00b367" size="24" selected
                                        accessibility-title="Online">
                                    </scale-icon-alert-success>
                                </td>
                            </tr>
                            <tr>
                                <td>D3 Ausbildung</td>
                                <td>CATEGORY 2</td>
                                <td>
                                    <scale-icon-alert-success fill="#00b367" size="24" selected
                                        accessibility-title="Online">
                                    </scale-icon-alert-success>
                                </td>
                            </tr>
                            <tr>
                                <td>D3 Ausbildung</td>
                                <td>CATEGORY 3</td>
                                <td>
                                    <scale-icon-alert-success fill="#00b367" size="24" selected
                                        accessibility-title="Online">
                                    </scale-icon-alert-success>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </scale-table>
            </scale-card>
        </div>
    </div>
</div>
